.custom-header {
    background: no-repeat  url(header2.jpg);
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
}
.custom-header::before, 
.own-bg::before,
.sykes::before,
.nicholls::before,
.malia::before,
.kean::before
{
    content: "";
    position: absolute;
    top: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 90%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.custom-header h1, .custom-header p,
.own-bg h2, .own-bg p,
.sykes h2, .sykes p,
.nicholls h2, .nicholls p,
.malia h2, .malia p,
.kean h2, .kean p {
    z-index: 2;
    position: relative;
}
.own-bg {
    background: no-repeat center center url(promo\ pic.jpg) ;
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
    background-size: cover;
}
.sykes {
    background: no-repeat center center url(Sykes2.jpg);
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
    background-size: cover;
}
.nicholls {
    background: no-repeat center center url(nicholls2.jpg);
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
    background-size: cover;
}
.malia {
    background: no-repeat center center url(malia.jpg);
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
    background-size: cover;
}
.kean {
    background: no-repeat center center url(kean2.jpg);
    background-size: 100%;
    background-position-y: 25%;
    position: relative;
    background-size: cover;
}